{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/viewer.css" />

{% endblock %} {% block content %}
<div class="container mb-3">
  <h3>Interactive Stories</h3>
  <p>
	Interactive stories are stories that have alternative branches at different points. Part of our research is to see if making these 
  stories using Microsoft PowerPoint can be therapeatuci. There's currently no easy way to share interactive stories created on PowerPoint
  that is why we created this website. All you need to do is upload your powerpoint and the research team will review it and in a day or two, it will appear here.

  You can take down your story at anytime, just email us.
  </p>

  <p>If you're wondering how to create any of these we created a simple guide: </p>
</div>

<div class="container text-center">
  <div class="row row-cols-3">
    {% for story in stories %}
    <div class="col">
      <div class="card mb-4" style="width: 22rem">
        <a href="/stories/{{ story.id }}">
			<img
          src=" {{ story.thumbnail_url }}"
          class="card-img-top"
          alt="Story Image"
        />
		</a>
        <div class="card-body">
          <h5 class="card-title">{{ story.title }}</h5>
          <p class="card-text text-muted">by {{ story.author }}</p>

          <div class="mb-0">
            {% for tag in story.tags %}
            <span class="badge bg-info text-dark">{{ tag }}</span>
            {% endfor %}
          </div>
        </div>
        <!-- <div class="card-footer bg-transparent border-top-0">
          <a href="#" class="card-link text-primary">3 Comments</a>
        </div> -->
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
