<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Interactive Stories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Share and explore interactive stories created in PowerPoint"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/assets/img/favicon.ico"
    />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    {% block head %} {% endblock %}
  </head>

  <body id="top">
    <nav class="main-nav">
      <div class="nav-container">
        <div class="d-flex">
          <a href="/" class="brand">
            <img
              src="/static/assets/img/logo.png"
              alt="Interactive Stories Logo"
              class="nav-logo"
            />
            Interactive Stories
          </a>
        </div>
        <div>
          <p class="nav-tagline">
            Reframe: Turn negative to positive
          </p>
        </div>
      </div>
    </nav>

    <main>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="content-wrapper">
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </main>

    <footer class="main-footer bg-white">
      <div
        class="footer-container d-flex justify-content-evenly align-items-center"
      >
        <div class="footer-brand">
          <img
            width="100px"
            src="/static/assets/img/logo.png"
            alt="Interactive Stories Logo"
            class="footer-logo"
          />
        </div>
        <div
          class="align-items-baseline d-flex footer-content justify-content-center"
        >
          <p>
            &copy; 2025
            <a href="https://e.segunlean.com/" target="_blank"
              >Emmanuel Segun-Lean</a
            >
            & <a href="https://celinelatulipe.net/">Celine Latulipe</a>. All
            rights reserved.

            <span>Interactive Stories</span>
          </p>
        </div>

        <div class="footer-hci-logo mt-3">
          <a href="https://hci.cs.umanitoba.ca" target="_blank">
            <img
            src="/static/assets/img/HCI_Lab_Logo_300dpi.png"
            alt="HCI Lab Logo"
            width="100"
          />
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
